.access {
  background-color: bisque;
  height: 30px;
}

.and.container div:nth-child(1n) {
  height: 25%;
  border: 1px solid black;
}

.and.container div:nth-child(2) {
  height: 50%;
  border: 1px solid black;
}