header, .jumbotron, section {
  width: 100%;
}

.container.clearfix {
  width: 80%;
  margin: auto;
}

.container-j {
  width: 80%;
  margin: auto;
}

section {
  height: 500px;
  padding: 50px;
}

section:nth-child(even){
  background-color: #F4F4F4;
}

.sec.box {
  float: left;
  width: calc(100%/2);
}

.text {
  text-align: left;
  padding: 30px;
}

h2 {
  margin-bottom: 20px;
}

img {
  width: 100%;
}


