body {
  font-family: arial;
  color: #24272A;
}

p {
  font-size: 15px;
}

.container.j p {
  margin-bottom: 20px;
}


a:hover, .btn.j.left a:hover {
  color: lightgray;
  
}

header, .jumbotron, section {
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

.container-j {
  width: 80%;
  margin: auto;
}

.and.container {
  height: 400px;
  border: 1px solid black;
}

section {
  height: 500px;
  padding: 50px;
}

section:nth-child(even){
  background-color: #F4F4F4;
}

.sec.box {
  float: left;
  width: calc(100%/2);
}

.text {
  text-align: left;
  padding: 30px 30px 60px;
}

h2 {
  margin-bottom: 20px;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  background-color: white;
  color: #24272A;
  line-height: 20px;
  padding: 5px 10px;
  border-radius: 40px;
}

.btn.j.left, .btn.j.right {
  width: 25%;
  margin: 40px 20px;
  padding: 10px;
}

.btn.j.left a {
  color: #24272A;
}

.btn.j.right {
  background-color: #24272A;
}






