body {
  font-family: arial;
  color: #24272A;
}

p {
  font-size: 15px;
}

a:hover {
  color: blue;
  
}

header, .jumbotron, section {
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

.container-j {
  width: 80%;
  margin: auto;
}

.and.container {
  height: 400px;
  border: 1px solid black;
}

section {
  height: 500px;
  padding: 50px;
}

section:nth-child(even){
  background-color: #F4F4F4;
}

.sec.box {
  float: left;
  width: calc(100%/2);
}

.text {
  text-align: left;
  padding: 30px 30px 60px;
}

h2 {
  margin-bottom: 20px;
}

img {
  width: 100%;
}




