body {
  font-family: arial;
  color: #24272A;
}

p {
  font-size: 15px;
}

.container.j p {
  margin-bottom: 20px;
}


a:hover, .btn.j.left a:hover {
  color: lightgray;
  
}

header, .jumbotron, section {
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

.container-j {
  width: 80%;
  margin: auto;
}

.and.container {
  text-align: center;
}

section {
  padding: 50px;
}

section:nth-child(even){
  background-color: #F4F4F4;
}

.sec.box {
  float: left;
  width: calc(100%/2);
}

.text {
  text-align: left;
  padding: 30px 30px 60px;
}

h2, h3 {
  margin-bottom: 20px;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  background-color: white;
  color: #24272A;
  line-height: 20px;
  padding: 5px 10px;
  border-radius: 40px;
}

.btn.j.left, .btn.j.right {
  width: 25%;
  margin: 40px 20px;
  padding: 10px;
}

.btn.j.left a {
  color: #24272A;
}

.btn.j.right {
  background-color: #24272A
  }

.stars {
  background-image: url(img/stars.svg);
  background-position: center;
  height: 50px;
  }

.download {
  display: inline-block;
  background-color: #7C8DDA;
  color: #24272A;
  line-height: 20px;
  padding: 10px 15px;
  border-radius: 40px;
  margin-bottom: 50px;
  }

  /* FOOTER */
  footer {
    background-color: #1A1D20;
    width: 100%;
    padding: 40px 0;
  }

  .big.col {
    float: left;
    width: 30%;
  }

  .col {
    float: left;
    width: calc(70%/4);
    padding-right: calc(5%);
    margin-bottom: 10px;
  }

  .col:first-child {
    color: #7C8DDA;
  }

  h4 {
    color: #7C8DDA;
  }

  .col ul li {
    display: inline-block;
    margin: 10px 0;
    font-size: 15px;
    color: white;
    cursor: pointer;
  }

  .big.col img {
    display: inline-block;
    width: 20px;
  }

  .big.col span {
    color: white;
  }

  .container.footer.clearfix {
    margin-bottom: 20px;
    border-bottom: 1px solid #7C8DDA;
  }

  .left-foot, .right-foot {
    float: left;
    width: 50%;
    height: 50px;
  }

  .left-foot #log {
    display: inline-block;
    width: 100px;
  }

  .right-foot {
    text-align: right;
  }

.container.footer.clearfix.foot {
  border-bottom: none;
}