* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Utilities */
.container {
  width: 80%;
}

/* HEATHER */
header {
  background-color: #265EE8;
  width: 100%;
  min-width: 80%;
}

.heather.container.clearfix {
  background-color: #265EE8;
  margin: auto;
}

.discord.box, .access.box {
  margin-top: 20px;
  text-align: center;
}

.list.box {
  width: 67%;
  margin-top: 20px;
  text-align: center;
} 

li {
  display: inline-block;
  list-style: none;
  margin: 0 5%;
  
}

li a, .access.box {
  text-decoration: none;
}

.access.box {
  color: black;
}

li a {
  color: white;
}

.access.box{
  border-radius: 20%;
  background-color: #FFFFFF;
  font-size: 14px;
}
/****** RICORDA: cancellare altezze fisse ******/

/* Gestione FLOAT e MARGINI HEADER */
.discord, .list {
  float: left;
}

.access {
  float: right;
}

.discord {
  margin-right: 10%;
}

.access {
  margin-left: 10%;
}

/* List box */


/* JUMBOTRON */
.jumbotron {
  background-image: url(img/jumbo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 598px;
}