* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Utilities */
.container {
  width: 80%;
}

/* HEATHER */
header {
  background-color: #265EE8;
  width: 100%;
  min-width: 80%;
}

.heather.container.clearfix {
  background-color: #265EE8;
  margin: auto;
}

/* FLOAT: Discord, List, Access */
.discord, .access {
  background-color: aliceblue;
  width: 20%;
  height: 50px;
} 
/****** RICORDA: cancellare altezze fisse ******/

.discord, .list {
  float: left;
}

.access {
  float: right;
}

/* Margini discor, access */
.discord {
  margin-right: 10%;
}

.access {
  margin-left: 10%;
}

/* List box */
li {
  display: inline-block;
}

/* Da cancellare */
.list.box {
  width: 40%;
  height: 50px;
  background-color: bisque;
}  
/****** RICORDA: cancellare altezze fisse ******/

/* JUMBOTRON */
.jumbotron {
  background-image: url(img/jumbo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 598px;
}