* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Utilities */
.container {
  width: 80%;
  margin: auto;
}

header, .jumbotron {
  width: 100%;
  min-width: 60%;
}

/* HEATHER */
header {
  background-color: #265EE8;
}

.heather.container.clearfix {
  background-color: #265EE8;
}

.discord.box, .access.box {
  margin-top: 20px;
  text-align: center;
}

.list.box {
  width: 65%;
  margin-top: 20px;
  text-align: center;
} 

li {
  display: inline-block;
  list-style: none;
  margin: 0 4%;
}

li a, .access.box {
  text-decoration: none;
}

.access.box {
  color: black;
}

li a {
  color: white;
  font-size: 14px;
  line-height: 30px;
}

a:hover {
  color: blue;
}

.access.box{
  width: 5%;
  border-radius: 20%;
  background-color: #FFFFFF;
  font-size: 14px;
}

.access:hover {
  color: gray;
}

.discord, .list {
  float: left;
}

.access {
  float: right;
  margin-left: 10%;
  line-height: 30px;
}

.discord {
  margin-right: 10%;
}

/* JUMBOTRON */
.jumbotron {
  position: relative;
  background-image: url(img/jumbo.png);
  background-size: cover;
  height: 500px;
}

.container-j {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: auto;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
}

