* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

header {
  background-color: #255EE9;
}

nav {
  width: 80%;
}

.logo.box, .access.box {
  width: 10%;
}

.logo.box, nav, .access.box {
  float: left;
  margin-top: 20px;
  text-align: center;
  line-height: 30px;
}
 #log {
   vertical-align: middle;
 }

 ul {
  list-style: none;
}

ul li {
  display: inline-block;
  margin: 0 3%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

 /* Jumbotron */
 .jumbotron {
  background-image: url(img/jumbo.png);
  background-size: cover;
  background-position: center;
  height: 500px;
  padding: 95px 0;
}

.container-j {
  width: 50%;
  margin: auto;
  text-align: center;
  line-height: 25px;
  color: white;
}

h1 {
  margin-bottom: 40px;
}

/* Sectiones */
.and.container h2  {
  text-align: center;
  margin: 10px 0;
}

.and.container p {
  text-align: center;
}


.and.container img {
  display: inline-block;
}

.big.col .icons {
  color: white;
  display: block;
  margin-top: 10px;
}


